html, body{
  background-color: white;
  font-family: 'Bree Serif', serif;
}

.navbar{
    background-color: #def087;
    color: #0b2e1a;

    .navbar-brand{
      font-size: 24px;
      color: red;
      &:hover{
        color: white;
      }
    }

    i{
      color:  #0b2e1a;
      &:hover{
        color: white;
      }
    }
}

.navbar-default .navbar-nav > li > a {
    color:  #0b2e1a;
    &:hover{
      color: white;
    }
}

.navbar{
  border: none;
}
